.settings/*
.buildpath
.project
project.properties
src/intraface.dk/config.local.php
src/package.xml
tests/selenium/testSuite.html
tests/unit/config.test.php
tests/unit/TestListener.php
tests/unit/phpunit.xml
*.tgz
src/intraface.dk/demo/config.local.php
tests/selenium/.tmp/
tests/unit/htmlpurifier/
