/* set font size */
body, table {
	font-size: 11px; 
}

/* remove navigation */
#navigation-user, #navigation-site, #navigation-sub {
	display: none; 
}

.button, .buttons, .options {
	display: none;
}

.button a, .buttons a, .options a {
	display: none;
}

a {
	text-decoration: none;
}

fieldset {
	border: 1px solid black;
}

#system_message {
	display: none;
}

.message {
	display: none;
}

.edit {
	display: none;
}

.delete {
	display: none;
}

.hide_on_print {
	display: none;
}	