php_flag allow_call_time_pass_reference Off
php_flag register_globals off

<IfModule mod_php4.c>
	php_flag session.use_trans_sid off
</IfModule>

ErrorDocument 404 /errorpages/404.php
Options -Indexes