body {
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    background-color: #d5d6d7;
    color: #333;
}

#container {
    background-color: white; 
    margin: 20px auto; 
    border: 1px solid #666666; 
    width: 800px; 
    padding: 20px;
}

#header {
    margin: 0px;
    background-color: #006699;
    text-align: center;
    color: white;
    font-size: 200%;
    padding: 40px;
    margin-bottom: 20px;    
}   

#menu {
    width: 200px;
    float: left;
    border-right: 1px sold #999999;
}

#content {
    width: 560px;
    float: left;
}

