/* Miscellaneous */

input.buy {
    border: 0px;
    background: #b5df6b;
    padding: 0.2em;
    color: black;
    cursor: pointer;
}

ul#error-message {
    padding: 10px 0px 10px 20px;
    border: 1px solid #ff0000;
}

/* purchase */

ol#purchase-steps {
    padding: 0px;
    list-style-position: inside;
}

ol#purchase-steps li {
    float: left;
    padding: 0px 15px 0px 0px;
}

div#purchase-steps-after {
    clear: both;
    margin-bottom: 20px ;
}

div#purchase-buttons {
    margin: 20px 0px 20px;
    padding: 5px;
    background-color: #a2cd73;

}

div#purchase-buttons p {
    display: inline;
    margin: 4px;
}

/* product-feature */

.product-feature {
    border: 1px solid #ddd;
    margin: 0 1em 1em 0;
    padding: 0.7em;
    width: 200px;
    float: left;
    height: 250px;
    text-align: center;
}

.product-feature p {
    margin: 0px;
    padding: 0px;
}

.product-feature img {
    margin: 0.3em 0 0.3em 0;
    border: 0px;

}

.product-feature form {
    display: inline;
}

/* products */

table#products {
    width: 97%;
    border-collapse: collapse;
}

table#products tbody td {
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}

table#products td.picture {
    width: 80px;
}

table#products td.name {
}

table#products td.price {
    width: 100px;
}

table#products td.buy {
    width: 70px;
    text-align: right;
}


/* product */

div#product img {
    float: right;
    margin: 1.2em;
}

div#product h1 {
}

div#product h2 {
    font-size: 1.4em;
}

div#product p.price {
    width: 130px;
    padding: 2px;
    border: 1px solid #DD9999;
    font-size: 1.0em;
}

ul#related-product {
    list-style-type: none;
    padding: 0px;
}

ul#related-product li {
    padding: 2px 0px 3px 6px;
    border-bottom: 1px solid #ddd;
}

/* basket */

table#basket {
    width: 100%;
    border-collapse: collapse;
}

table#basket caption {
    background: #739bcd;
    color: white;
    padding: 0.2em;
    font-weight: bold;
}

table#basket tr th {
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding: 0.2em;
}

table#basket tr td {
    padding: 0.5em;
}

table#basket tbody td {
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}

table#basket tbody td.picture {
    width: 80px;
}

table#basket tbody td.quantity {
    width: 60px;
}

table#basket tbody td.price {
    width: 100px;
    text-align: right;
}


table#basket tfoot td.total {
    color: inherit;
    background: #eee;
}

table#basket tfoot td.help {
    font-size: smaller;
    color: #666666;
    background: inherit;
}


/* buyer details */

fieldset.details-customer {
    background-color: #EEEEEE;
    margin-bottom: 20px;

}

fieldset.details-customer div.row {
    padding: 4px;
    border-bottom: 1px solid #ddd;

}

fieldset.details-customer div.row label {
    display: block;
    float: left;
    width: 150px;
}

div#buyer-details div.row input {

}

fieldset.details-customer div.row textarea {
	
}

div#customer-coupon {
    padding: 3px;
    background-color: #EEEEEE;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

div#customer-ean {
    padding: 3px;
    background-color: #EEEEEE;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

div#customer-comment {
    padding: 3px;
    background-color: #EEEEEE;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

fieldset#details-customer-comment textarea {
    width: 80%;
    height: 60px;
}

div#terms-of-trade {
    margin: 10px 0px 10px;
    padding: 3px;
    background-color: #EEEEEE;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

div#buyer_details_save {
    margin: 10px 0px 10px;
    padding: 5px;
    background-color: #EEEE00;
    border: 2px solid #999;
}



/* Order */

table#order-address-details {
    width: 100%;
    border-collapse: collapse;
    margin: 1px 0px 20px 0px;
    background-color: #EEEEEE;

}

table#order-address-details caption {
    background: #739bcd;
    color: white;
    padding: 0.2em;
    font-weight: bold;
}

table#order-address-details th {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 3px;
    width: 30%;
}

table#order-address-details td {
    border-bottom: 1px solid #ddd;
    padding: 3px;
}

/* Payment creditcard */

div#payment-creditcard {

}

div#payment-creditcard div#cardnumber {
    padding: 3px;
    background-color: #EEEEEE;
    border-top: 2px solid #edd84b;
}

div#payment-creditcard div#expire_date {
    padding: 3px;
    background-color: #EEEEEE;
}

div#payment-creditcard div#cvc {
    padding: 3px;
    background-color: #EEEEEE;
    border-bottom: 2px solid #edd84b;
}

div#payment-creditcard div#cvc input {
    width: 40px;
}

.product-link {
    clear: both;
}

