/*
-----------------------------------------------
Stopdesign Text Size: Large
Author:   Douglas Bowman
Version:  12 Sep 2004
----------------------------------------------- */

body {
  font-size:medium;
  font-size/* */:/**/large;
  font-size: /**/large;
  line-height:1.5em;
  }

.event-list dl dt a, .event-list a.title, .teaser a.title {
  background-position:1px .55em;
  }
a.permalink {
  background-position:0 0;
  }
ul.offsite li {
  background-position:1px .7em;
  }
* html table.cal {
  font-size:85%;
  width:80%;
  }
.cal th, .cal td {
  padding:2px 2px;
  }
.cal th {
  font-size:85%;
  }